@model MVC_Dept_Emp.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Imageurl" class="control-label"></label>l̥
                <input asp-for="Imageurl" class="form-control" type="file" name="file" />
                <span asp-validation-for="Imageurl" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Did" class="control-label"></label>


                <select class="form-control" asp-for="Did" asp-items="@(new SelectList(ViewBag.Departments,"Did","Dname"))"></select>
                <span asp-validation-for="Dname" class="text-danger"></span>
            </div>

                <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

