@model MVC_Dept_Emp.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit Employee</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Imageurl" class="control-label"></label>
                <input asp-for="Imageurl" class="form-control" type="file" name="file" />
                <span asp-validation-for="Imageurl" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label>Image Preview</label>
                <img src="@Url.Content(Model.Imageurl)" height="150" width="200" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="Did" class="control-label"></label>
                <select class="form-control" asp-for="Did" asp-items="@(new SelectList(ViewBag.Departments,"Did","Dname"))"></select>
                <span asp-validation-for="Dname" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



